@import './CoverPopup.scss';
@import './MALivegetHeader.scss';
@mixin sendnshare{
	.t_sendshare{
		height:100%;
		background:#f1b465;
		&.selection {
			background-color: #f9ce77;
		}
		.top_header{
			position: relative;
			height:67px;
			background-color: #e46334;
			.btn_menu{
				float:left;
				width:40px;
				height:31px;
				margin:18px 0 0 20px;
				border:0;
				background:resolve('mathalive_lib/images/ico_video_top_menu.png');
			}
			.presenter{
				float:left;
				width:160px;
				height:44px;
				line-height:44px;
				margin: 10px 0 0 20px;
				padding-left:44px;
				border-radius: 40px;
				font-size: 20px;
				color:#fff;
				opacity: 0.3;
				font-family: "maplestory-bold";
				background: #c2542c resolve('mathalive_lib/images/ico_presenter.png') no-repeat 6px center;
				&.complete {
					opacity: 1;
					cursor: pointer;
				}
			}
			.select_list{
				position: absolute;
				left:50%;
				top:50%;
				width:224px;
				height:50px;
				padding:5px 6px;
				border-radius: 10px;
				background-color: rgba(0,0,0,.15);
				box-sizing: border-box;
				transform: translate(-50%,-50%);
				button{
					min-width:49px;
					height: 40px;
					border:0;
					padding-left: 6px;
					margin-left: 4px;
					background-color:transparent;
					border-radius: 7px;
					text-align: center;
					box-sizing: border-box;
					&:first-child{margin-left: 0;}
					span{
						display: block;
						float: left;
						width:18px;
						height:14px;
						margin-left: 1px;
						border-radius: 2px;
						background:#453328;
						opacity: .3;
						&:first-child{margin-left: 0;}
					}
					&.on {
						background-color: #eb8e53;
						span{
							opacity: 1;
							background-color: #934425;
						}
					}
					&.list_02{
						width:68px;
					}
					&.list_03{
						width:87px;
					}
				}
			}
			.msg_text{
				position: absolute;
				right:30px;
				top:50%;
				font-family: "maplestory-light";
				font-size: 17px;
				font-style: italic;
				color:#fff;
				transform: translateY(-50%);
			}
		}
		.openhiding{
			height:44px;
			margin-top: 36px;
			padding-right: 106px;
			.strategy{
				float:left;
				margin-left: 72px;
				button{
					position: relative;
					width:120px;
					height:30px;
					margin-right: 20px;
					background-color: transparent;
					border:0;
					font-size: 20px;
					font-family: "maplestory-bold" !important;
					color:#bb8c54;
					&:after{
						content: "";
						position: absolute;
						left:0;
						bottom:-5px;
						width:100%;
						height:4px;
						background-color: #bb8c54;
						border-radius: 4px;
					}
					&.on{
						color:#574134;
						&:after{
							background-color: #574134;
						}
					}
				}
			}
			.inner{
				height:44px;
				float: right;
				border-radius: 44px;
				background:#c2542c;
				button{
					line-height: 44px;
					padding: 0 15px;
					border-radius: 44px;
					border: 0;
					color:#9a4121;
					font-size: 20px;
					font-family: "maplestory-bold" !important;
					background-color: transparent;
					&.on{
						color:#fff;
						background-color: #eb8e53;
					}
				}
			}
		}
		.content{
			overflow-y: auto;
			height: 633px;
			padding: 0 0 0 70px;
			margin:20px 60px 0 0;
			&::-webkit-scrollbar {
				width: 9px;
			}
			&::-webkit-scrollbar-track {
				background:transparent;
				border-radius: 10px;
			}
			&::-webkit-scrollbar-thumb {
				background: rgba(255,255,255,.3); 
				border-radius: 10px;
			}
			&::-webkit-scrollbar-thumb:hover {
				background: rgba(255,255,255,.6); 
			}
			.thumbset {
				width:844px;
				margin: 0 auto 20px;
				border-radius: 25px;
				&:after{
					content:"";
					display: block;
					clear: both;
				}
				.thumb_cnt{
					float: left;
					position: relative;
					width:412px;
					height:296px;
					margin-bottom: 20px;
					background-color: #f9ce77;
					border-radius: 15px;
					overflow: hidden;
					font-family: "mapleStory-bold";
					transition: 0.6s;
					transform-style: preserve-3d;
					.defaultImg_m,
					.defaultImg_f {
						display: flex;
						align-items: center;
						justify-content: center;
						color: #fff;
					}
					.defaultImg_m {
							background-color: #2cd1c3;
                    }
                    .defaultImg_f {
                        	background-color: #ffa1a7;
                    }
					.new_icon {
						position: absolute;
						left:0;
						top:0;
						width:100%;
						height:100%;
						/*background: rgba(0,0,0,.15) resolve('mathalive_lib/images/ico_new.png') no-repeat left top;*/
						background:resolve('mathalive_lib/images/ico_new.png') no-repeat left top;
					}
					.front { 
						display: none; 
						position: absolute;
						width: 100%;
						.defaultImg_m,
						.defaultImg_f {
							width:90px;
							height:90px;
							margin: 86px auto 0;
							border-radius: 50%;
							font-size: 32px;
						}
					}
					&:nth-child(2n){margin-left: 20px;}
					&.user{
						text-align: center;
						transform: rotateY(180deg);
						img{
							width:90px;
							height:90px;
							margin-top: 86px;
							border-radius: 50%;
						}
						.name{
							margin-top: 15px;
							font-size: 26px;
							font-family: "mapleStory-light";
						}
						.front { 
							display: block;
							transform: rotateY(180deg); 		
						}
						.back { display: none; }
					}
					img{
						width:100%;
						height:295px;
					}
					&.left{
						float:left;
					}
					&.right{
						float:right;
					}
					.title{
						position: absolute;
						width: 100%;
						height: 40px;
						line-height: 40px;
						bottom: 0;
						background-color: #bf5f25;
						color: #fff;
						text-align: center;
						font-size: 18px;
						font-family: "maplestory-light";
						&.user{
							.img{
								position: absolute;
								left:10px;
								top:-28px;
								width:60px;
								height:60px;
								margin-right: 30px;
								background-color: #bf5f25;
								border-radius: 100%;
								padding: 3px;
								img {
									width: 100%;
									height: 100%;
									border-radius: 100%;
								}
							}
							.defaultImg_m,
							.defaultImg_f {
								position: absolute;
								width: 60px;
								height: 60px;
								border-radius: 100%;
								border: 3px solid #bf5f25;
								box-sizing: border-box;
								left: 10px;
								top: -28px;
								font-size: 25px;
							}		
						}
					}
					.not_submitted{
						position: absolute;
						left:0;
						top:0;
						width:100%;
						height:100%;
						background: rgba(0,0,0,.6) resolve('mathalive_lib/images/ico_sendshare_circlepen.png') no-repeat center;
						z-index: 1;
					}
					.ico_star {
						position: absolute;
						left:20px;
						bottom:20px;
						span{
							display:inline-block;
							width:23px;
							height:21px;
							background: resolve('mathalive_lib/images/ico_thumb_star.png');
						}
					}
					.btn_retry{
						position:absolute;
						right:9px;
						bottom:9px;
						width:53px;
						height:53px;
						border: 0;
						background: resolve('mathalive_lib/images/ico_thumb_retry.png');
					}
					.btn_check{
						position:absolute;
						right:9px;
						bottom:9px;
						width:53px;
						height:53px;
						border: 0;
						background: resolve('mathalive_lib/images/ico_thumb_check.png');
					}
					&.light {
						background-color: #fff;
						.title{
							background-color: #e5722d;
							.num{
								background-color: #d75304;
							}
						}
					}
					.live_bubble {
						width: width('mathalive_lib/images/live_bubble_bg.png');
						height: height('mathalive_lib/images/live_bubble_bg.png');
						background: resolve('mathalive_lib/images/live_bubble_bg.png');
						padding-left: 15px;
						position: absolute;
						top: -23px;
						right: 0;
						font-size: 14px;
						color: #fff;
						line-height: 34px;
						&::before {
							content: '';
							width: width('mathalive_lib/images/ico_livebubble_heart.png');
							height: height('mathalive_lib/images/ico_livebubble_heart.png');
							background: resolve('mathalive_lib/images/ico_livebubble_heart.png');
							position: absolute;
							top: 11px;
							left: 12px;
						}
					}
				}
			}
			&.r3{
				width: 1136px;
				padding-bottom: 20px;
				margin: 20px auto 0;
				padding: 0;
				.thumbset{
					width:100%;
					.thumb_cnt{
						width:356px;
						height:255px;
						margin-left: 20px;
						&:nth-child(3n+1){
							margin-left: 0;
						}
						img{
							height:223px;
						}
						.not_submitted{
							background-size: 90px auto;
						}
						.front { 
							.defaultImg_m,
							.defaultImg_f {
								width:80px;
								height:80px;
							}
						}	
						.title{
							height:42px;
							line-height: 42px;
							font-size: 22px;
							&.user{
								.img{
									width:48px;
									height:48px;
									left:6px;
									top:-7px;
									margin-right: 20px;
								}
								.defaultImg_m,
								.defaultImg_f {
									width: 48px;
									height: 48px;
									left: 6px;
									top: -7px;
									font-size: 21px;
								}			
							}
						}
						&.user{
							img{
								width:80px;
								height:80px;
							}
							.name{
								font-size: 22px;
								margin-top: 16px;
							}
						}
					}
				}
			}
			&.r4{
				width:1136px;
				height: 633px;
				padding:0 10px 0 0;
				margin:20px auto 0;
				.thumbset{
					width:1108px;
					margin:0;
					.thumb_cnt{
						width:262px;
						height:193px;
						margin-left:20px;
						margin-bottom: 20px;
						&:nth-child(4n+1){
							margin-left: 0;
						}
						.front { 
							.defaultImg_m,
							.defaultImg_f {
								width:70px;
								height:70px;
								margin-top: 43px;
							}
						}	
						img{
							height:192px;
						}
						.not_submitted{
							background-size: 90px auto;
						}
						&:first-child{
							margin-left: 0;
						}
						.title{
							height:30px;
							line-height: 30px;
							font-size: 16px;
							&.user{
								.img{
									width:42px;
									height:42px;
									left:5px;
									top:-17px;
								}
								.defaultImg_m,
								.defaultImg_f {
									width: 42px;
									height: 42px;
									left: 5px;
									top: -17px;
									font-size: 18px;
								}			
							}
						}
						&.user{
							img{
								width:70px;
								height:70px;
								margin-top: 43px;
							}
							.name{
								font-size: 22px;
								margin-top: 12px;
							}
						}
					}
				}
			}
			&.selection{
				margin-top: 80px;
				.profile{
					text-align: center;
					.t1{
						font-size: 20px;
						color: #4d2212;
						font-family: "maplestory-bold";
					}
					.t2{
						margin-top: 18px;
						font-size: 15px;
						color:#a07945;
						font-style: italic;
						font-family: "maplestory-light";
					}
				}
				.btn_set{
					margin-top: 50px;
					text-align: center;
					button{
						position: relative;
						width:240px;
						height:240px;
						border:0;
						margin:0 40px;
						background: resolve('mathalive_lib/images/bg_sendshare_btn_off.png');
						&:hover{
							background: resolve('mathalive_lib/images/bg_sendshare_btn_on.png');
						}
						span{
							position: absolute;
							display: block;
							width:100%;
							height:80px;
							line-height: 80px;
							font-size: 37px;
							bottom:0;
							color:#fff;
							text-align: center;
							font-family: "maplestory-bold";
						}
					}
				}
			}
		}
		.presenter{
			position: absolute;
			left:0;/* 런처에서 보여 주는 햄버거 버튼으로 인해 위치 이동  */
			top:0;
			&.btn {
				left: 64px;
				top: 4px;
			}
			width:100%;
			height:100%;
			background-color: rgba(0,0,0,.75);
			z-index: 11;
			.presenter_content {
				z-index: 20;
				position: absolute;
				left:50%;
				top:50%;
				width:940px;
				height:490px;
				background-color: #f9ce77;
				border-radius: 50px;
				transform: translate(-50%,-50%);
				font-family: "maplestory-light";
				text-align: center;
				h3{
					line-height: 1;
					margin-top: 50px;
					font-size: 30px;
					font-family: "maplestory-bold";
				}
				.btn_close{
					position: absolute;
					right:20px;
					top:20px;
					width:50px;
					height:50px;
					border:0;
					border-radius: 100%;
					background:#f1b465 resolve('mathalive_lib/images/ico_video_menu_close.png') no-repeat center;
					background-size: 22px;
					z-index: 10;
				}
				ul{
					padding: 40px 50px 0;
					li{
						position: relative;
						display:inline-block;
						width:25%;
						font-size: 26px;
						color: #2c2c2c;
						opacity: .5;
						.ico_heart{
							position: absolute;
							left: 50%;
							top:-45px;
							width:45px;
							height:45px;
							background: resolve('mathalive_lib/images/ico_student_select.gif');
							transform: translateX(-50%);
						}
						.img{
							display: inline-block;
							position: relative;
							width:180px;
							height:180px;
							padding:0;
							box-sizing: border-box;
							& > div{
								width:100%;
								height:100%;
								line-height: 180px;
								img{
									width:180px;
									height:180px;
									border-radius: 100%;
								}
								&:after{
									content: "";
									position: absolute;
									left:0;
									top:0;
									width:180px;
									height:180px;
									border-radius: 100%;
									box-shadow: 10px 10px 20px rgba(0,0,0,.2);
									box-sizing: border-box;
								}
								.defaultImg_m,
								.defaultImg_f {
									width: 100%;
									height: 100%;
									border-radius: 100%;
									display: flex;
									align-items: center;
									justify-content: center;
									color: #fff;
									font-size: 50px;
								}
								.defaultImg_m {
									& > div{
										background-color: #2cd1c3;
										width: 100%;
										height: 100%;
										border-radius: 100%;
									}
								}
								.defaultImg_f {
									& > div{
										background-color: #ffa1a7;
										width: 100%;
										height: 100%;
										border-radius: 100%;
									}
								}
							}
						}
						p{
							margin-top: 20px;
						}
						&.on {
							opacity: 1;
							.img{
								&:after{
									border:8px solid #e46334;
								}
							}
						}
						&.random{
							opacity: 0.5;
						}
						/*&.heart{
							&:after{
								content: "";
								position: absolute;
								left: 50%;
								top:-45px;
								width:45px;
								height:45px;
								background: resolve('mathalive_lib/images/ico_student_select.gif');
								transform: translateX(-50%);
							}
						}*/
						&.click{
							&::before{
								content:"";
								position:absolute;
								right:-8px;
								top:-10px;
								width:70px;
								height:47px;
								background: resolve('mathalive_lib/images/ico_cloud_click.png');
								z-index: 10;
							}
						}
					}
					&:after{
						content: "";
						display: block;
						clear: both;
					}
				}
				.btn_control {
					margin-top: 35px;
					button{
						width: 184px;
						height: 60px;
						line-height: 60px;
						margin: 0 6px;
						border:0;
						border-radius: 30px;
						color:#fff;
						font-size: 21px;
						font-family: "maplestory-light" !important;
						&.btn_01{
							background-color: #9a989a;
						}
						&.btn_02{
							background-color: #e46334;
						}
					}
				}
				.timesetting_wrap{
					.timebox{
						position: relative;
						width:360px;
						height: 180px;
						margin: 65px auto;
						.time{
							position: absolute;
							left:50%;
							top:50%;
							width:180px;
							height:180px;
							line-height: 180px;
							border-radius: 100%;
							color: #2c2c2c;
							font-size: 140px;
							background-color: rgba(255,255,255,.5);
							transform: translate(-50%,-50%);
						}
						.btn_time {
							position: absolute;
							left:0;
							top:50%;
							width:70px;
							height: 70px;
							border-radius: 100%;
							border:0;
							transform: translateY(-50%);
							&.minus{
								background: #ff8472 resolve('mathalive_lib/images/ico_minus.png') no-repeat center;
							}
							&.plus{
								left:auto;
								right:0;
								background: #3bbdab resolve('mathalive_lib/images/ico_plus_big.png') no-repeat center;
							}
						}
					}
				}
			}
		}/* presenter */
		.result_popup {
			@include CoverPopup(100);
			width: 100%;
			height: 100%;
			z-index: 20;/* popup 은 z-index 20 으로 */
			position: absolute;
			top:0;
			background: rgba(0,0,0,0.5);
			@include maliveheader;
			.progress_dot {
				position: absolute;
				right: 50%;
				top:10%;
				transform: translateX(50%);
				height:67px;
				padding: 25px 10px 0  0;
				text-align: center;
				z-index: 21;
				span{
					display: inline-block;
					width:12px;
					height:12px;
					padding: 0;
					margin:0 5px;
					border-radius: 100%;
					background-color: rgba(255,255,255,.5);
					box-shadow: 0 3px 6px rgba(0,0,0,.2);
					&.on{
						background-color: #f5e942;
					}
				}
			}
			.images_container {
				position: relative;
				width: 100%;
				height: 100%;
				.swiper-container{
					position: relative;
					width: 100%;
					height: 100%;
					.swiper-slide {
						height: auto;
					}
					.swiper-scrollbar{
						width: 7px;
						background-color: transparent;
						.swiper-scrollbar-drag {
							background-color: rgba(255, 255, 255, 0.6);
						}
					}
					.submitimg{
						width: 100%;
						height: 100%;
					}
				}
			}

			.navi_left,
			.navi_right {
				position: absolute;
				top: 0;
				bottom: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				z-index: 51;	
				.left {
					margin-top: -20px;
				}
				/*.left,
				.right {
					&:disabled {
						display: block !important;
					}	
				}*/
			}
	
			.navi_left {
				left: 0;
	
				.left {
					@include btn_down_dis(resolve('mathalive_lib/images/page_left_L.png'),
						resolve('mathalive_lib/images/page_left_L.png'),
						resolve('mathalive_lib/images/page_left_L_dis.png'),
						width('mathalive_lib/images/page_left_L.png'),
						height('mathalive_lib/images/page_left_L.png'));
					
				}
	
				.right {
					@include btn_down_dis(resolve('mathalive_lib/images/page_right_L.png'),
						resolve('mathalive_lib/images/page_right_L.png'),
						resolve('mathalive_lib/images/page_right_L_dis.png'),
						width('mathalive_lib/images/page_right_L.png'),
						height('mathalive_lib/images/page_right_L.png'));
				}
			}
	
			.navi_right {
				right: 0;
	
				.left {
					@include btn_down_dis(resolve('mathalive_lib/images/page_left_R.png'),
						resolve('mathalive_lib/images/page_left_R.png'),
						resolve('mathalive_lib/images/page_left_R_dis.png'),
						width('mathalive_lib/images/page_left_R.png'),
						height('mathalive_lib/images/page_left_R.png'));
				}
	
				.right {
					@include btn_down_dis(resolve('mathalive_lib/images/page_right_R.png'),
						resolve('mathalive_lib/images/page_right_R.png'),
						resolve('mathalive_lib/images/page_right_R_dis.png'),
						width('mathalive_lib/images/page_right_R.png'),
						height('mathalive_lib/images/page_right_R.png'));
				}
			}
	
			.control_page {
				position: absolute;
				z-index: 51;
				left:50%;
				bottom: 26px;
				width: 200px;
				height:74px;
				border-radius: 40px;
				transform: translateX(-50%);
				box-shadow: 0 0 15px rgba(0,0,0,.15);
				background-color:rgba(0,0,0,.18);
				opacity: 1;
				button{
					position: absolute;
					top:16px;
					width:42px;
					height:42px;
					border:0;
					background-repeat: no-repeat;
					background-position: center;
					background-color: transparent;
					&.btn_left{
						left:21px;
						background-image:resolve('mathalive_lib/images/ico_control_page_arr_left.png');
					}
					&.btn_menu{
						left:50%;
						transform: translateX(-50%);
						background-image:resolve('mathalive_lib/images/ico_control_page_menu.png');
					}
					&.btn_right{
						right:21px;
						background-image:resolve('mathalive_lib/images/ico_control_page_arr_right.png');
					}
					&.off {
						opacity: 0.6;
					}
				}
				
			}
			.btn_container {
				position: absolute;
				z-index: 51;
				bottom: 26px;
				left:50%;
				transform: translateX(-50%);
				button{
					width: 184px;
					height: 60px;
					line-height: 60px;
					margin: 0 6px;
					border:0;
					border-radius: 30px;
					color:#fff;
					font-size: 21px;
					font-family: "maplestory-light" !important;
					&.btn_01{
						background-color: #9a989a;
					}
					&.btn_02{
						background-color: #e46334;
					}
				}
			}
		}
	}

}