@charset "utf-8";
body {background: #ffe9e6;}

.btn_wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
button.btn{
    width:400px;
    height:150px;
    margin: 27px 33px;
}
